body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
   }
.navbar{
  font-size: 18px;
  height: 80px;
}
#header {
    margin-top: 80px;
}
.res{
  color:#5f9ea0;
}
.dropdown-menu {/*чтобы влезали длинные названия*/
  min-width: 225px;
}
#htmlwidget-244aaddf2639520a3f5a, #htmlwidget-6f66dca5431bfb50b4e6{ /*карты на about. временное решение*/
  width: 100% !important;
  height: 700px !important;
}
.main-container a{ /*иначе подчеркивания возникают на активной ссылке*/
  color:#5F9E9F !important;
  text-decoration: none;
}
.main-container a:hover{
  color:#F6BBBB !important;
}
.navbar a{
  color:#ffffff !important;
}
.navbar a:hover{
  color:#ffffff !important;
}
.navbar a.res{
  color:#5F9E9F !important;
}
.navbar a.res:hover{
  color:#5F9E9F !important;
}
.navbar-brand ~ a:hover{
  color:#F6BBBB !important;
}
.social a{
  color:#333333 !important;
}
.leaflet-control-container a{
  color:#333333 !important;
}
.leaflet-control-container a:hover{
  color:#333333 !important;
}
.nav-tabs a{
  color:#333333 !important;
}
.nav-tabs a:hover{
  color:#333333 !important;
}
.hse_logo{
  text-align: center;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #333333;
  border-color: #333333;
}

.footer-basic { /*для footerа с bootstrap*/
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
.main-image {
  position: relative;
  display: table;
  height: 50vh;
  margin-bottom: 5rem;
  border: 10px solid #333;
  border-width: 15px 0px;
  margin-top: 50px;
  text-align: center;
  background: #222 no-repeat center center;
  background-size: cover;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  width: 100vw; /* это и ниже хак чтобы растянуть*/
  margin-left: calc(-50vw + 50%);
}
.attrib {
      position:absolute;
      bottom:10px;
      right: 20px;
      text-align: right;
      color: #F5F5F5;
    }
    

 /* а это прямиком из бутстрапа */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
}

.card {
    display: grid;
    grid-auto-rows: minmax(80px, auto);
    border: 1px solid #ddd;
    padding: 10px;
    /*grid-template-rows: max-content 1 1fr;*/
}
.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.gry {
  background-color:#d9d9d9;
}
.pnk{
  background-color:#F6BABC;
}
.button {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
}
.button:hover{
  background:#444;
}
.button:active{
  background:#333;
}
    
/*
.outer {
  float:left;
  width: 100%;
}
.inner {
  width:100%x;
  height:100px;
  border: 1px solid #333333;
  border-radius:3px;
  position:relative;
  margin-bottom:10px;
}
.inner img{
  width:100%;
  height:100%;
}
.first{
  background-color:#333333;
}
.fith{
  background-color:#d9d9d9;
}
.corpname{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.corpname p{
  font-size: 30px;
  text-align:center;
}*/